.container {
    height: 100vh;
    background: linear-gradient(#ffffff, #f5f5f5 28%);
}

.main {
    overflow: hidden;
}

.footer {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: 500;
}

.header, .logo, .navigate {
    height: 50px;
    padding: 0;
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-block-end: 1px solid rgba(5, 5, 5, 0.06);
}

.logo {
    width: 200px;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
}

.navigate {
}

.account a {
    color: #333;
    font-size: 16px;
    font-weight: 500;
    margin-right: 15px;
}


.sider {
    overflow: auto;
    scrollbar-width: none;
    box-sizing: border-box;
}

.content {
    padding: 15px 15px 0;
    overflow: auto;
    scrollbar-width: none;
    box-sizing: border-box;
}
